{% extends 'base.html' %}

{% load static %}

{% block title %}{{ entry.date }} | Writing Streak{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'compose/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'compose/accountmenu.html' %}

  <p><a href="/">Home</a></p>
  <h2>{{ entry.date }}</h2>
  {% autoescape off %}
  <div id="archive-text">{{ entry.text_as_html }}</div>
  {% endautoescape %}

  {% include 'compose/pastentries.html' %}
</div>
{% endblock %}
