{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'compose/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <p><a href="/">Home</a></p>
  <h2>{{ writing.date }}</h2>
  {% autoescape off %}
  <p>{{ writing.text_as_html }}</p>
  {% endautoescape %}

  <h3>Past writing:</h3>
  <ul>
    {% for writing in past %}
    <li><a href="{{ writing.get_absolute_url }}">{{ writing.date }}</a>
      ({{ writing.word_count }} word{{ writing.word_count|pluralize }})
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
