{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script src="{% static 'compose/js/index.js' %}"></script>

<link rel="stylesheet" href="{% static 'compose/css/index.css' %}">
{% endblock %}

{% block content %}
<div id="container">
  {% csrf_token %}
  <textarea>{{ saved_text }}</textarea>
  <p><span id="wordCount">0 words</span></p>
  <h3>Past writing:</h3>
  <ul>
    {% for writing in past %}
    <li><a href="{{ writing.get_absolute_url }}">{{ writing.date }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
