{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<link rel="stylesheet" href="{% static 'compose/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% csrf_token %}

  {% include 'compose/accountmenu.html' %}

  <!-- Root of the main React component (see frontend/index.js) -->
  <div id="react-root"></div>

  <h3>Past entries</h3>
  {% include 'compose/pastentries.html' %}
</div>

<script src="{% static 'bundle.js' %}"></script>
{% endblock %}
