{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script src="{% static 'compose/js/index.js' %}"></script>

<link rel="stylesheet" href="{% static 'compose/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% csrf_token %}
  <textarea id="textInput">{{ writing }}</textarea>
  <p id="errorMsg"></p>
  <p>
    <span id="wordCount">0 words</span>
    (<span id="cumulativeWordCount">{{ word_count }}</span> to date)
  </p>
  <h3>Past writing:</h3>
  <ul>
    {% for writing in past %}
    <li><a href="{{ writing.get_absolute_url }}">{{ writing.date }}</a>
      ({{ writing.word_count }} word{{ writing.word_count|pluralize }})
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
